.input-wrapper {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.input-wrapper > input {
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    height: 100%;
    width: 100%;
}

.input-wrapper > input:focus {
    outline: none;
}

.dbtoggles {
    display: block;
    width: 100%;
    margin: 16px;
    clear: left;
}

.toggle-radio {
    padding-left: 8px;
    padding-right: 4px;
}

.toggle-dropdown {
    margin-left: 32px;
    margin-right: 8px;
    width: 160px;
    overflow: scroll;
}

.searchbarcontainer {
    width: 100%;
}